.actions {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  margin-block-start: 2.75em;
  > button {
    flex: 1;
    svg:last-child {
      margin-inline-start: auto;
    }
  }
}

.btn-save-data-entry {
  position: relative;
  gap: 0.375em !important;
  padding-inline-end: 0.375em !important;
  &::after {
    content: "";
    $size: 0.75em;
    position: absolute;
    transition: opacity 0.2s;
    inset-block-start: -0.125em;
    inset-inline-start: -0.125em;
    border-radius: 50%;
    background: var(--color-danger);
    width: $size;
    height: $size;
  }
  &:disabled {
    &::after {
      opacity: 0;
    }
  }
  &:enabled {
    &::after {
      animation: pulse-animation 2s infinite;
      @keyframes pulse-animation {
        from {
          box-shadow: 0 0 0 0 var(--color-danger-3);
        }
        to {
          box-shadow: 0 0 0 0.5em transparent;
        }
      }
    }
  }
}

.checkbox-load-external-content {
  margin-block-end: 1.375em;
}

.entry-actions {
  display: flex;
  justify-content: space-between;
  margin-block-start: 1em;
  box-shadow: 0 0 0.25em var(--color-bg);
  border-radius: 3em;
  background: var(--color-bg-2);
  outline: 2px solid transparent;
  transition: outline-color 0.2s;
  > button {
    margin: 0.375em;
    padding-block: 0.375em !important;
  }
  &.pending {
    outline-color: var(--color-danger-3);
  }
}

.entry-preview {
  margin-block-start: 2.5em;
}

.grab {
  flex: 1;
  cursor: grab;
}

.list-data-entries {
  display: flex;
  flex-direction: column;
  gap: 2.625em;
  padding: 0;
  list-style: none;
  > li {
    position: relative;
  }
}

.link-entry {
  display: flex;
  flex-wrap: wrap;
  gap: 1.375em;
  background: var(--color-bg);
  > * {
    flex: 1 1 25em;
    margin: 0;
  }
}

.message-empty {
  text-align: center;
}

/**
 * TODO: check this query when modifying the layout viewport.
 */
@media (46em < width < 60em), (65em < width <= 79em), (width > 101em) {
  .actions {
    flex-direction: row;
    > button {
      justify-content: space-between !important;
      svg:last-child {
        margin-inline-start: 0 !important;
      }
    }
  }
}
