.actions {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1em, 3vw, 2.5em);
  margin-block-start: 2em;
  > button {
    flex: 1;
    justify-content: space-between;
  }
}

.btn-save-data-entry {
  position: relative;
  gap: 0.375em !important;
  padding-inline-end: 0.375em !important;
  &::after {
    content: "";
    $size: 0.75em;
    position: absolute;
    transition: opacity 0.2s;
    inset-block-start: -0.125em;
    inset-inline-start: -0.125em;
    border-radius: 50%;
    background: var(--color-danger);
    width: $size;
    height: $size;
  }
  &:disabled {
    &::after {
      opacity: 0;
    }
  }
  &:enabled {
    &::after {
      animation: pulse-animation 2s infinite;
      @keyframes pulse-animation {
        from {
          box-shadow: 0 0 0 0 var(--color-danger-3);
        }
        to {
          box-shadow: 0 0 0 0.5em transparent;
        }
      }
    }
  }
}

.entry-actions {
  display: flex;
  justify-content: space-between;
  margin-block-start: 1em;
  box-shadow: 0 0 0.25em var(--color-bg);
  border-radius: 3em;
  background: var(--color-bg-2);
  > button {
    margin: 0.375em;
    padding-block: 0.375em !important;
  }
  &.pending {
    box-shadow: 0 0 0.625em var(--color-highlight);
  }
}

.entry-preview {
  margin-block-start: 2.5em;
}

.grab {
  flex: 1;
  cursor: grab;
}

.list-data-entries {
  display: flex;
  flex-direction: column;
  gap: 2.625em;
  padding: 0;
  list-style: none;
  > li {
    position: relative;
  }
}

.link-entry {
  display: flex;
  flex-wrap: wrap;
  gap: 1.375em;
  margin-block-start: 0.25em;
  background: var(--color-bg);
  > * {
    flex: 1 1 25em;
    margin: 0;
  }
}

.message-empty {
  text-align: center;
}
