NEXT_PUBLIC_API="http://localhost:4000"
NEXT_PUBLIC_HREF_ABOUT="https://www.profile.rocks/i/about"
NEXT_PUBLIC_HREF_ASSETS="https://assets.profile.rocks"
NEXT_PUBLIC_HREF_BLOG="https://www.profile.rocks/b"
NEXT_PUBLIC_HREF_FAQ="https://www.profile.rocks/i/faq"
NEXT_PUBLIC_HREF_HELP="https://www.profile.rocks/i/help"
NEXT_PUBLIC_HREF_PRICING="https://www.profile.rocks/i/pricing"
NEXT_PUBLIC_HREF_PRIVACY="https://www.profile.rocks/i/privacy"
NEXT_PUBLIC_HREF_PROFILE="https://profile.rocks"
NEXT_PUBLIC_HREF_TERMS="https://www.profile.rocks/i/terms"
NEXT_PUBLIC_HREF_WEB="https://www.profile.rocks"
NEXT_PUBLIC_PLATFORM_NAME="profile.rocks"
NEXT_PUBLIC_PLATFORM_DESCRIPTION="The Map of Your Online Presence"
NEXT_PUBLIC_SITE="https://app.profile.rocks"