.profile-theme-preview-label {
  display: inline-block;
  font-size: 0.875em;
  cursor: pointer;
  padding: 0.5em;
  min-width: 5.75em;
  color: var(--color-3);
  background: var(--color-input);
  text-align: center;
  border-radius: 1.375em;
  outline: medium solid transparent;
  margin-inline-end: 1em;
  &:hover {
    color: var(--color-2);
    background: var(--color-input-hover);
  }
  &:is(:active, :focus-visible) {
    background: var(--color-input-active);
  }
  &:focus-visible {
    outline-color: var(--color-input-outline);
  }
}

.profile-theme-preview-checked {
  color: var(--color-highlight) !important;
}

.profile-theme {
  display: flex;
  align-items: center;
  border-block-start: thin solid var(--color-border);
  &:has(.profile-theme-input:not(:checked)) {
    .profile-theme-title {
      color: var(--color-4);
    }
    &:has(.profile-theme-input:not(:disabled)) {
      .profile-theme-title {
        cursor: pointer;
        color: var(--color-3);
      }
      &:has(.profile-theme-input:hover) {
        .profile-theme-title {
          color: var(--color-2);
        }
      }
      &:has(.profile-theme-input:is(:active, :focus-visible)) {
        .profile-theme-title {
          color: var(--color);
        }
      }
    }
  }
}

.profile-theme-input {
  scale: 1.75;
  cursor: pointer;
  margin: 0;
  margin-inline-end: 0.625em;
  accent-color: var(--color-highlight);
  &:disabled {
    cursor: not-allowed;
  }
}

.profile-theme-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
}

.profile-theme-title {
  display: flex;
  flex: 1;
  align-items: center;
  padding-block: 0.75em;
  color: var(--color-highlight);
  font-size: 1.25em;
  &::before,
  &::after {
    display: inline-block;
    content: "";
    $size: 1em;
    border: thin solid var(--color-border);
    width: 0.625em;
    height: 1em;
  }
  &::before {
    margin-inline-end: 0.5em;
    border-inline-start: none;
    background-color: var(--theme-background);
  }
  &::after {
    order: -1;
    border-inline-end: none;
    background-color: var(--theme-color);
  }
}
