$p-inline-anchor: 1em;

.page-anchor-home {
  padding-inline-end: $p-inline-anchor;
}

.page-anchor-preview {
  margin-inline-start: auto;
  padding-inline-start: $p-inline-anchor;
}

.page-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-inline: 0.5em;
  padding-block-start: 0.5em;
}
