.active {
  color: var(--color-highlight) !important;
  &::before {
    inset-inline: clamp(1.5em, 7vw, 4em) !important;
    background: var(--color-input);
  }
  &:hover {
    &::before {
      background: var(--color-input-hover);
    }
  }
  &:is(:active, :focus-visible) {
    &::before {
      background: var(--color-input-active);
    }
  }
}

.anchor-profile-display-name {
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
}

.container-content {
  box-sizing: border-box;
  padding-inline: 1em;
  padding-block-end: 3em;
}

.container-profile-configuration {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-inline: auto;
  width: 100%;
  max-width: 70em;
}

.figcaption-profile {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 0.75em;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
}

.figure-profile {
  display: flex;
  align-items: center;
  gap: 0.875em;
  margin: 1em;
  max-width: 100%;
  min-height: max-content;
  overflow: hidden;
  user-select: none;
}

.profile-header-edit-icon {
  min-width: 1.5em;
}

.profile-header-edit-link {
  margin: 0.25em;
}

.profile-info {
  overflow: hidden;
  white-space: nowrap;
}

.profile-menu {
  --color-a: var(--color-3);
  --color-a-hover: var(--color);
  display: flex;
  position: sticky;
  z-index: 2;
  backdrop-filter: blur(8px);
  margin-block: auto 0;
  inset-block-end: 0;
  border-block-start: thin solid var(--color-border);
  background: var(--color-bg-transparent);
  padding: 0;
  list-style: none;
  user-select: none;
  > li {
    flex: 1;
    > a {
      display: grid;
      position: relative;
      justify-items: center;
      gap: 0.375em;
      box-sizing: border-box;
      padding: 0.625em;
      width: 100%;
      text-decoration: none;
      &::before {
        content: "";
        z-index: -1;
        position: absolute;
        inset-block: 0.4375em 1.8755em;
        inset-inline: 50%;
        border-radius: 3em;
        transition: background 0.15s, inset-inline 0.15s;
      }
      > span {
        font-size: 0.75em;
      }
    }
  }
}

.profile-name-id {
  margin: 0;
  overflow: hidden;
  color: var(--color-3);
  font-size: 0.875em;
  text-overflow: ellipsis;
  &::before {
    content: "@";
    color: var(--color-4);
  }
}

.profile-photo {
  border-radius: 50%;
}

@media (width >=40em) {
  .active {
    &::before {
      inset-inline: 0.25em !important;
    }
  }

  .profile-menu {
    border: 2px solid var(--color-border);
    border-radius: 2.3125em;
    margin-inline: 1.375em;
    inset-block-end: 0.5em;
    box-shadow: 0 0.5em 1em var(--color-bg);
    > li {
      > a {
        gap: 0.25em;
        &::before {
          inset-block: 0.3125em;
          inset-inline: 50%;
          border-radius: 3em;
        }
        > span {
          font-size: 0.875em;
        }
      }
    }
  }

  .profile-header-edit-link {
    padding-inline-start: 1em;
    &::before {
      content: "Edit";
    }
  }
}
