.anchor-profile-display-name {
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
}

.container-content {
  box-sizing: border-box;
  padding-inline: 1em;
  padding-block-end: 3em;
}

.container-nav {
  --color-a: var(--color-3);
  --color-a-hover: var(--color);
  position: sticky;
  bottom: 0;
  z-index: 2;
  backdrop-filter: blur(8px);
  margin-block-start: auto;
  border-block-start: thin solid var(--color-border);
  background: var(--color-bg-transparent);
  > nav {
    > ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      user-select: none;
      > li {
        flex: 1;
        > a {
          display: inline-grid;
          justify-items: center;
          gap: 0.25em;
          box-sizing: border-box;
          padding: 0.625em;
          width: 100%;
          text-decoration: none;
          > span {
            font-size: 0.75em;
          }
        }
      }
    }
  }
}

.container-profile-configuration {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-inline: auto;
  width: 100%;
  max-width: 70em;
}

.figcaption-profile {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 0.75em;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
}

.figure-profile {
  display: flex;
  align-items: center;
  gap: 0.875em;
  margin: 1em;
  max-width: 100%;
  min-height: max-content;
  overflow: hidden;
  user-select: none;
}

.profile-header-edit-icon {
  min-width: 1.5em;
}

.profile-header-edit-link {
  margin: 0.25em;
}

.profile-info {
  overflow: hidden;
  white-space: nowrap;
}

.profile-name-id {
  margin: 0;
  overflow: hidden;
  color: var(--color-3);
  font-size: 0.875em;
  text-overflow: ellipsis;
  &::before {
    content: "@";
    color: var(--color-4);
  }
}

.profile-photo {
  border-radius: 50%;
}

@media (width >= 40em) {
  .container-nav > nav > ul > li > a {
    padding: 1em;
    > span {
      font-size: 1em;
    }
  }

  .profile-header-edit-link {
    padding-inline-start: 1em;
    &::before {
      content: "Edit";
    }
  }
}
