$br: 0.75em;

.dialog {
  scale: 0.875;
  opacity: 0;
  transition:
    display 0.3s allow-discrete,
    opacity 0.3s,
    overlay 0.3s allow-discrete,
    scale 0.3s;
  border: none;
  background: none;
  padding: 0;
  &::backdrop {
    transition:
      backdrop-filter 0.3s,
      display 0.3s allow-discrete,
      overlay 0.3s allow-discrete;
  }
  &[open] {
    scale: 1;
    opacity: 1;
    &::backdrop {
      backdrop-filter: blur(8px);
      @starting-style {
        backdrop-filter: none;
      }
    }
    @starting-style {
      scale: 0.875;
      opacity: 0;
    }
  }
}

.dialog-content {
  border: 2px solid var(--color-border);
  border-block-end: none;
  border-start-start-radius: $br;
  border-start-end-radius: $br;
  background: var(--color-bg-2);
  padding: 1em;
  padding-block-end: 1.25em;
  font-size: 1.125em;
}

.dialog-form {
  display: flex;
  > button {
    flex: 1;
    cursor: pointer;
    border: none;
    padding: 0.625em;
    font-size: inherit;
    &:first-child {
      border-end-start-radius: $br;
    }
    &:last-child {
      border-end-end-radius: $br;
    }
  }
}
